<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/favicon-testing.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/no.css">
    <title>The End.</title>
</head>

<body>

    <div class="container">
        <div class="content">
            <h1 class="this"><a href="https://redrakerum.github.io/collections/"> Github.</a></h1>
        </div>
    </div>

</body>

</html>
